.upper-button {
    -fx-font-size: 20;
    -fx-background-color: #fc8282;
}
.lateral-button {
    -fx-font-size: 20;
    -fx-background-color: #fc8282;
}
.label {
    -fx-font-size: 20;
}
.button {
    -fx-font-size: 20;
}