
.label{
    -fx-background-color: #e198ee;
    -fx-background-radius : 50 50 50 50 ;
    -fx-font-size: 23px;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: #e692f5;
    -fx-background-radius : 50 50 50 50 ;
    -fx-font-size : 23;
    -fx-font-weight : bold;

}
.combo-box-base {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: #d091f6;
    -fx-background-radius : 50 50 50 50 ;
}